body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: hsl(216, 12%, 8%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:90vh;
    font-family: 'Overpass', sans-serif;
}
.mid{
    display:flex;
    margin:8rem;
    width:35%;
    color:white;
    background: hsl(213, 19%, 18%);
    border-radius:20px;
}

.star-div{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background: hsl(216, 12%, 8%);
    align-items: center;
    justify-content: center;
    display:flex;
    margin:2px;
}
.mid-content{
    margin:3rem;
}
.head2{
    font-weight:130rem;
    font-style: bold;

}
.numbers{
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin:30px;
    width:100%;
    margin-right:20px;
    border-radius: 30px;
    height:40px;
    background:  hsl(25, 97%, 53%);
    text-align: center;
}
.btn-text{
    font-weight:bold;
}
.btn:hover{
    background-color: white;
    color:hsl(25, 97%, 53%);;
    cursor:pointer;
    transition: 300ms;
}
.star-div:hover{
    background-color: hsl(25, 97%, 53%);;
    color:white;
    cursor:pointer;

}
.star-div::after{
    background-color: hsl(25, 97%, 53%);;
    color:white;
    cursor:pointer;
    transition: 300ms;

}


.mid2{
    display:none;
    margin:8rem;
    width:35%;
    color:white;
    background: hsl(213, 19%, 18%);
    border-radius:20px;
}
@media only screen and (max-width: 600px)  {
    
    .mid{
       margin:8rem;
        width:80%;
    }
    .mid2{
        width:70%;
    }
    
    .star-div{
        width:2.5rem;
        height:2.5rem;
        border-radius: 50%;
        background: hsl(216, 12%, 8%);
        align-items: center;
        justify-content: center;
        display:flex;
        margin:1px;
    }
    .btn{
        
            width:90%;
            border-radius: 30px;
            height:20px;
            background:  hsl(25, 97%, 53%);
            
        
    }
  }
  @media only screen and (max-width:750px) and (min-width:600px){
    .mid{
        margin:8rem;
         width: 70%;

     }
     .mid2{
         width:70%;
     }
     .star-div{
         border-radius: 50%;
         background: hsl(216, 12%, 8%);
         align-items: center;
         justify-content: center;
         display:flex;
         margin-right:10px;
     }
     .btn{
         
             width:90%;
             border-radius: 30px;
             height:40px;
             background:  hsl(25, 97%, 53%);
             
         
     }
     .mid-content{
        margin:4rem;
        
    }
    .head2{
        font-style: bold;
    
    }
    .numbers{
        display:flex;
        align-items: center;
        justify-content: center;
        padding:80px;
    }
    .btn{
        margin:30px;
        max-width:80%;
        margin-right:20px;
        border-radius: 30px;
        height:40px;
        background:  hsl(25, 97%, 53%);
        text-align: center;
    }
  }
  @media only screen and (max-width:850px) and (min-width:750px) {
    .mid{
        margin:8rem;
         width: 70%;

     }
     .mid2{
         width:80%;

     }
     .star-div{
         border-radius: 50%;
         background: hsl(216, 12%, 8%);
         align-items: center;
         justify-content: center;
         display:flex;
         margin-right:10px;
     }
     .btn{
         
             width:90%;
             border-radius: 30px;
             height:40px;
             background:  hsl(25, 97%, 53%);
             
         
     }
     .mid-content{
        margin:4rem;
        
    }
    .head2{
        font-style: bold;
    
    }
    .numbers{
        display:flex;
        align-items: center;
        justify-content: center;
        padding:80px;
    }
    .btn{
        margin:30px;
        max-width:80%;
        margin-right:20px;
        border-radius: 30px;
        height:40px;
        background:  hsl(25, 97%, 53%);
        text-align: center;
    }
  }
